body {
	padding: 0;
	margin: 0;
	font-family: 'Revalia', cursive;
	font-family: 'Open Sans', sans-serif;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Open Sans, sans-serif;
}

a {
	text-decoration: none;
	color: #000;
}

.header {
	background:#EEEFF1;
	padding-top: 40px;	
}

.container {
	margin: 0;
}

.wrapper {
	display: flex;
	justify-content: space-between;
}

.logo {
	text-transform: uppercase;
	font-family: 'Revalia', cursive;
	color: #34547a;
	font-size: 48px;
	margin-left: 402px;
}

.list {
	font-family: 'Open Sans', sans-serif;
	display: flex;
	padding-right: 400px;
}

.list-li {
	text-transform: uppercase;
	font-size: 16px;
	display: block;
	margin-left: 42px;
	margin-top: 40px;
}

.list_text:hover {
	color:#34547A;
}

#menu__toggle {
  opacity: 0;
}

.hamburger-menu {
	position: absolute;
	right: 0;
	margin-right: 290px;
	top: 35px;
}

.menu__btn {
  display: flex; 
  align-items: center; 
  position: absolute;
  right: 0;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
	display: none;
}

.menu__box {
	display: none;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}

.title {
	display: flex;
	padding-bottom: 140px;
}

.offer {
	margin-left: 153px;
	margin-top: 90px;
}

.desktop {
	margin-left: 487px;
	margin-top: 161px;
	width: 357px;
	height: 234px;
}

.design {
	font-size: 48px;
	font-weight: 500;
}

.example-text {
	font-weight: 400;
	color: #727272;
	width: 540px;
	line-height: 26px;
}

.btn {
	font-family: 'Open Sans',sans-serif;
	font-size: 16px;
	color: #fff;
	background: #34547A;
	padding: 25px 41px;
	width: 225px;
	margin-top: 60px;
	text-decoration: none;
	text-align: center;
	transition: all 0.5s ease;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
.btn:hover {
	background: #065090;
}

.about {
	padding-bottom: 100px;
}

.about-me {
	padding-top: 119px;
	font-size: 32px;
	font-weight: 500;
	line-height: 37px;
	text-align: center;
}

.example-text2 {
	margin: 0 auto;
	text-align: center;
	font-weight: 400;
	color: #727272;
	width: 540px;
	line-height: 26px;
	margin-top: 50px;
}

.background {
	height: 250px;
	background: #34547A;
}

.number {
	margin-left: 50px;
	padding-top: 100px;
	width: 900px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.compose {
	background: #f9f9f9;
}

.properties {
	display: flex;
	justify-content: space-between;
	padding-bottom: 101px;
}

.title2 {
	margin-top: 204px;
	margin-left: 386px;
	width: 445px;
}

.aptitudes {
	margin-top: 156px;
	font-size: 36px;
	font-weight: 500;
	line-height: 37px;
	padding-bottom: 50px;
}

.skill {
	color: #727272;
	font-size: 20px;
	font-weight: 400;
	line-height: 26px;
}

.man {
	margin-right: 384px;
	margin-top: 200px;
	width: 555px;
	height: 450px;
}

.skill_line1:after {
	content: '';
	display: block;
	width: 70px;
	height: 2px;
	background: #000;
	margin-top: 5px;
}

.skill_line2:after {
	content: '';
	display: block;
	width: 60px;
	height: 2px;
	background: #000;
	margin-top: 5px;
}

.skill_line3:after {
	content: '';
	display: block;
	width: 25px;
	height: 2px;
	background: #000;
	margin-top: 5px;
}

.skill_line4:after {
	content: '';
	display: block;
	width: 70px;
	height: 2px;
	background: #000;
	margin-top: 5px;
}

.skill_line5:after {
	content: '';
	display: block;
	width: 30px;
	height: 2px;
	background: #000;
	margin-top: 5px;
}

.work {
	background: #EEEFF1;
	text-align: center;
}

.video {
	padding-bottom: 100px;
	position: relative;
  	width: 100%;
}

.how {
	padding-top: 100px;
	font-size: 36px;
	font-weight: 500;
	line-height: 37px;
}

.example-text {
	margin: 0 auto;
	color: #727272;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	width: 540px;
}

.vid {
	width: 1110px;
    height: 500px;
	margin-top: 57px;
}

.button {
	 position: absolute;
	 top: 63%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 -ms-transform: translate(-50%, -50%);
	 background: #000;
	 cursor: pointer;
	 border: none;
}

.projects {
	padding-top: 12px;
	width: 1900px;
}

.microsoft1 {
	margin: 0 auto;
}

.microsoft2 {
	margin: 0 auto;
}

.microsoft3 {
	margin: 0 auto;
}

.microsoft4 {
	margin: 0 auto;
}

.web {
	background: #EEEFF1;
}

.website {
	padding-top: 100px;
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	font-weight: 500;
	text-align: center;
	line-height: 37px;
}

.example-text-site {
	margin: 0 auto;
	font-size: 16px;
	line-height: 26px;
	width: 540px;
	color: #727272;
	text-align: center;
}

.wrap {
	padding-bottom: 100px;
}

.form {
	margin-top: 65px;
	margin-left: 10px;
	display: flex;
	justify-content: center;
}

.input {
	width: 240px;
	height: 40px;
	padding-left: 10px;
	border: 1px solid #000000d4;
	margin-right: 10px;
}

.input-l {
	width: 490px;
	height: 140px;	
	padding: 0;
	padding-bottom: 100px;
	padding-right: 400px;
	padding-left: 20px;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 50px;
}

.btn-form {
	display: block;
	margin: 0 auto;
}

.block {
	background: #34547a;
	padding-top: 40px;
	padding-bottom: 40px;
}

.name {
	margin: 0;
	color: #fff;
	font-size: 21px;
	font-weight: 500;
	font-family: 'Open Sans', sans-serif;
	line-height: 24px;
	margin-left: 300px;
}

.copyright {
	color: #fff;
	font-size: 13px;
	line-height: 21px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	margin-left: 300px;
}

@media screen and (max-width: 1440px) {
	.container {
		width: 1320px;
	}

	.logo {
		margin-left: 250px;
	}

	.menu__btn {
		display: none;
	}

	.list {
		padding-right: 350px;
	}

	.desktop {
		margin-left: 230px;
	}

	.projects {
		width: 90%;
		padding: 0;
		margin-left: 50px;
	}

	.title2 {
		margin-left: 286px;
	}

	.man {
		margin-left: 100px;
	}

	.microsoft1 {
		margin-left: 55px;
	}

	.microsoft2 {
		margin-left: 30px;
	}

	.microsoft3 {
		margin-left: 30px;
	}

	.microsoft4 {
		margin-left: 3	0px;
	}

	.foot_cont {
		width: 100%;
	}
}

@media screen and (max-width: 1200px) {
	.container {
		width: 1140px;
	}

	.logo {
		margin-left: 200px;
	}

	.menu__btn {
		display: none;
	}

	.list {
		padding: 0px;
		margin-right: 100px;
	}

	.desktop {
		margin-left: 87px;
	}

	.title2 {
		margin-left: 286px;
	}

	.aptitudes {
		margin-right: 150px;
	}

	.video {
		margin-left: 15px;
	}

	.projects {
		width: 1200px;
	}

	.button {
		left: 50%;
	}

	.microsoft1 {
		margin-left: 45px;
	}

	.microsoft2 {
		margin-left: 20px;
	}

	.microsoft3 {
		margin-left: 20px;
	}

	.microsoft4 {
		margin-left: 20px;
	}

	.foot_cont {
		width: 100%;
	}
}

@media screen and (max-width: 1199px) {
	.container {
		width: 960px;
	}

	.logo {
		margin-left: 40px;
	}

	.desktop {
		margin-left: 0px;
	}

	.offer {
		margin-left: 50px;
	}

	.title2 {
		margin-left: 40px;
	}

	.man {
		margin-left: 100px;
	}

	.vid {
		width: auto;
	}

	.video {
		margin: 0;
	}

	.projects {
		display: none;
	}

	.website {
		margin: 0;
	}

	.foot_cont {
		width: auto;
	}
}

@media screen and (max-width: 991px) {
	.container {
		width: 720px;
	}

	.title {
		display: block;
	}

	.example-text {
		margin: 0;
	}

	.item6 {
		display: none;
	}

	.number {
		width: auto;
	}

	.man {
		width: 450px;
		height: 350px;
		margin-left: 20px;
	}

	.work {
		display: none;
	}

	.list {
		margin-right: -23px;
	}

	.foot_cont {
		width: auto;
	}
}

@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}

	.list {
		display: none;
	}

	.hamburger-menu {
		margin-right: 0px;
		right: 40px;
		margin-top: 40px;
	}

	.menu__btn {
		display: flex;
	}

	.offer {
		margin-left: 20px;
	}

	.design {
		font-size: 42px;
	}

	.example-text {
		font-size: 15px;
	}

	.btn {
		font-size: 15px;
	}

	.desktop {
		margin-left: 87px;
	}

	.about-me {
		font-size: 30px;
	}

	.example-text2 {
		font-size: 15px;
	}

	.item5 {
		display: none;
	}

	.item6 {
		display: none;
	}

	.man {
	    width: 300px;
	    height: 250px;
	    margin-left: 0px;
	}

	.website {
		font-size: 30px;
	}

	.example-text-site {
		font-size: 15px;
	}

	.foot_cont {
		width: auto;
	}

	.name {
		margin-left: 30px;
	}	

	.copyright {
		margin-left: 30px;
	}
}

@media screen and (max-width: 575px) {
	.container {
		width: 100%;
		padding: 0 15px;
	}

	.logo {
		margin-left: 10px;
	}

	.list {
		display: none;
	}

	.hamburger-menu {
		margin-right: 0px;
		right: 40px;
		margin-top: 40px;
	}

	.offer {
		margin-left: 20px;
	}

	.design {
		font-size: 36px;
	}

	.example-text {
		width: 250px;
		font-size: 14px;
	}

	.btn {
		font-size: 14px;
	}

	.desktop {
	    margin-left: -20px;
	    width: 320px;
	}

	.about-me {
		font-size: 28px;
	}

	.example-text2 {
		width: 250px;
		font-size: 14px;
	}

	.item3 {
		display: none;
	}

	.item4 {
		display: none;
	}

	.item5 {
		display: none;
	}

	.item6 {
		display: none;
	}

	.man {
	    display: none;
	}

	.title2 {
		margin-top: 0px;
	}

	.aptitudes {
		margin-top: 10px;
	}

	.website {
		font-size: 26px;
	}

	.example-text-site {
		margin-top: 10px;
		font-size: 14px;
		width: 250px;
	}

	.input-l {
		width: 250px;
		height: 140px;
		padding-bottom: 80px;
		padding-right: 60px;
	}

	.input {
		width: 140px;
	}

	.foot_cont {
		width: auto;
		padding: 0;
	}

	.name {
		margin-left: 30px;
	}	

	.copyright {
		margin-left: 30px;
	}
}